<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151793263348-qihmgsk1b2g0aul8iev6vafu6ueji9nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151793263348-qihmgsk1b2g0aul8iev6vafu6ueji9nt</string>
	<key>API_KEY</key>
	<string>AIzaSyCXqk7qXxrhz1T3ZlqaXOu2nntSo3jW8S4</string>
	<key>GCM_SENDER_ID</key>
	<string>151793263348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mywikis.NeighborhoodAlerts</string>
	<key>PROJECT_ID</key>
	<string>neighborhood-alerts</string>
	<key>STORAGE_BUCKET</key>
	<string>neighborhood-alerts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:151793263348:ios:9c3770c82fa9aa6a21f4a1</string>
	<key>DATABASE_URL</key>
	<string>https://neighborhood-alerts.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6546362164503137~2403549987</string>
</dict>
</plist>
